/* IMAGENES MODIFICADAS */
.imagenes {
    height: 40px;
    width: 40px;
}
.logo1 {
    height: 50px;
    width: 80px;
}
.img-fondo {
    height:547px;
}
.cuerpo {
    background-color:black;
}
.lineas {
    height: 60px;
    width: 80px;
    padding: 10px;
}
/* NEGRITAS */
.resultado1,
.resultado2,
.puntos,
.posicion {
    font-weight: bold;
    font-size: 18px;
}
/* NAV-BAR */
.enlaces {
    width: 80px;
    text-align: center;
    margin-left: 150px;
    font-size: 20px;
    font-weight: bold;
}
/* TARJETAS (4) */
.centrar {
    display: flex;
    justify-content: center;
    height: 320px;
}
.tarjetas {
    height: 250px;
}
/* MARGENES CELDAS */
p {
    margin: 0px;
}
td {
    padding: 0px;
}
/* TITULARES CLAS,PART */
.titulares {
    text-align: center;
    padding: 15px;
}
.cent {
    text-align: center;
}
/* COLORES CLASIF */
.posicion{
    text-align: center;
}
table .tabla tr:nth-of-type(1)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(2)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(3)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(4)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(5)>td:first-of-type{
    background-color:rgb(245, 247, 162);
}
table .tabla tr:nth-of-type(6)>td:first-of-type{
    background-color:rgb(245, 247, 162);
}
table .tabla tr:nth-of-type(18)>td:first-of-type{
    background-color:rgb(228, 143, 143);
}
table .tabla tr:nth-of-type(19)>td:first-of-type{
    background-color:rgb(228, 143, 143);
}
table .tabla tr:nth-of-type(20)>td:first-of-type{
    background-color:rgb(228, 143, 143);
}