/* IMAGENES MODIFICADAS */
    /* IMAGENES HOME */
.imagenFondo {
    background-image:url(https://besthqwallpapers.com/Temp/15-2-2022/laliga-black-logo-creative-metal-grid-background-football-leagues-laliga-logo-besthqwallpapers.com-1280x720.jpg);
    height: 404px;
    background-size:cover;
    background-position:-10px -105px;
}
.imagenFondo1 {
    background-image:url(https://besthqwallpapers.com/Temp/15-2-2022/laliga-black-logo-creative-metal-grid-background-football-leagues-laliga-logo-besthqwallpapers.com-1280x720.jpg);
    height: 60px;
}
.img-fondo {
    height:450px;
}
.img-fondo1 {
    height:660px;
}
.cuerpo {
    background-color:rgb(2, 117, 216);
}
/* CONTROLES CARRUSEL */
.controles {
    height: 15%;
    top: 33%;
    width: 86px;
    }
   /* ESCUDOS */
.imagenes {
    height: 40px;
    width: 40px;
}
   /* ESCUDOS EQUIPOS HOME */
.escudos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.divEscudos {
    height: 60px;
    width: 60px;
    margin: 35px;
}
.imagenes1 {
    height: 100px;
    width:100px;
}
.escudos img:hover {
    transform: scale(1.3);
    transition: transform 1s, border 1s;
}
/* NEGRITAS */
.puntos,
.posicion {
    font-weight: bold;
    font-size: 18px;
}
table tbody tr td:nth-child(3){
    font-weight: bold;
    font-size: 18px;
}
/* NAV-BAR */
.enlaces {
    width: 80px;
    text-align: center;
    margin-left: 150px;
    font-size: 20px;
    font-weight: bold;
}
.logo1 {
    height: 60px;
    width: 130px;
}
/* TARJETAS (4) */
.centrar {
    display: flex;
    justify-content: center;
    height: 285px;
}
.tarjetas {
    height: 240px;
}
.card-body1 {
    padding: 0px;
}
/* MARGENES CELDAS TABLAS*/
p {
    margin: 0px;
}
td {
    padding: 0px;
}
/* TITULARES CLAS,PART */
.titulares {
    text-align: center;
    padding: 15px;
}
.cent,
.posicion,
.jornada {
    text-align: center;
}
/* ACORDEON RESULTADO */
.acordeon {
    width: 1140px;
    margin-left: 105px;
}
.acordeon1 {
    display: flex;
    justify-content:space-evenly;
    background-color:aliceblue;
}
.botonesPartidos {
    display: flex;
}
.reset {
    margin: 5px;
    background-color: lightgreen;
}
.buscar {
    margin: 5px;
    background-color:  rgb(2, 117, 216);
}
.ganados {
    background-color:rgb(175, 247, 181) ;
    padding: 10px;
    border: 2px solid rgb(48, 145, 56);
    margin: 5px;
}
.empatados {
    background-color:rgb(245, 247, 162) ;
    padding: 10px;
    border: 2px solid rgb(202, 204, 61);
    margin: 5px;
}
.perdidos {
    background-color:rgb(228, 143, 143);
    padding: 10px;
    border: 2px solid rgb(207, 79, 79);
    margin: 5px;
}
.jugar {
    background-color:rgb(120, 169, 243) ;
    padding: 10px;
    border: 2px solid rgb(51, 108, 161);
    margin: 5px;
}
.botones1 {
    background-color:rgb(175, 247, 181);
}
.botones2 {
    background-color:rgb(245, 247, 162);
}
.botones3 {
    background-color:rgb(228, 143, 143);
}
/* BOTONES FILTRO POR LIGA */
.botonP {
    padding: 0px;
    background-color: darkblue;
}
.botonS {
    padding: 0px;
    background-color: white;
}
.botonL {
    padding: 0px;
    background-color: rgb(210, 226, 63);
}
/* LEYENDA */
.acordeon2 {
    display: flex;
    justify-content: space-evenly;
}
.lineas {
    height: 60px;
    width: 80px;
    padding: 10px;
}
/* COLORES CLASIFICACION */
table .tabla tr:nth-of-type(1)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(2)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(3)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(4)>td:first-of-type{
    background-color:rgb(175, 247, 181);
}
table .tabla tr:nth-of-type(5)>td:first-of-type{
    background-color:rgb(245, 247, 162);
}
table .tabla tr:nth-of-type(6)>td:first-of-type{
    background-color:rgb(245, 247, 162);
}
table .tabla tr:nth-of-type(7)>td:first-of-type{
    background-color:rgb(120, 169, 243);
}
table .tabla tr:nth-of-type(18)>td:first-of-type{
    background-color:rgb(228, 143, 143);
}
table .tabla tr:nth-of-type(19)>td:first-of-type{
    background-color:rgb(228, 143, 143);
}
table .tabla tr:nth-of-type(20)>td:first-of-type{
    background-color:rgb(228, 143, 143);
}
/* FOOTER */
.redes {
    display: flex;
    justify-content:space-evenly;
}
.redes1 {
    font-size: 22px;
    margin:15px;
    font-weight: bold;
    color: black;
}
.facebook,
.twitter,
.instagram {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 black;
}
.footer {
    background-color: rgb(2, 117, 216);
}
/* ALERTAS */
.alertas {
    margin-left: 105px;
    width : 1140px;
    text-align: center;
}
/* SPINNER */
.spinner {
    margin-top: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/** page **/
.cssloader {
  padding-top: calc(15vh - 25px);
}

/** loader **/
.sh1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #354952 transparent transparent transparent;
  margin: 0 auto;
  animation: shk1 1s ease-in-out infinite normal;
}

.sh2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent  transparent rgb(2, 117, 216) transparent ;
  margin: -50px auto 0;
  animation: shk2 1s ease-in-out infinite alternate;
}

/** animation starts here **/
@keyframes shk1 {
  0% {
    transform: rotate(-360deg);
  }  
  
  100% {
  }
}

@keyframes shk2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
  }
}

.lt {
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 30px auto;
  text-align: center;
  font-weight: 100;
  letter-spacing: 10px;
}
/* MEDIA QUERY */
@media only screen and (max-width: 700px) {
.alertas,
.acordeon {
     margin:auto;
     text-align: start;
}
.acordeon1 {
    margin:0px;
    display: flex;
    flex-direction: column;
}
.acordeon2 {
    margin:0px;
    display: flex;
    justify-content: flex-start;
}
.ganados,
.empatados,
.perdidos,
.jugar {
    width:110px;
    margin: 2px;
}
.query {
    width:110px;
}
.botonesPartidos {
    display: flex;
}
.reset,
.buscar {
    margin: 10px;
}
.buscarEquipo {
    width: min-content;
    margin: 5px;
}
.divEscudos {
    height: 50px;
    width: 50px;
    margin: 20px;
}
.imagenes1 {
    height: 50px;
    width:50px;
}
.tarjetas {
    height: min-content;  
}
.tarjetas2,
.tarjetas3 {
    display: flex;
}
.card-text1 {
    font-size: 12px;
}
.card-title1 {
    font-size: 17px;
}
.cardImg {
    height: 70px;
}
.europaImg {
    height: 70px;
}
}