.lista li {
    display:inline;
    margin: 10px;
}
.barra {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.imagenes {
    height: 40px;
    width: 40px;
}
.logo1 {
    height: 50px;
    width: 80px;
}